USE [master]
GO
/****** Object:  Database [WP_Project3_CakeShopApp]    Script Date: 12/26/2020 7:54:06 PM ******/
CREATE DATABASE [WP_Project3_CakeShopApp] 
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WP_Project3_CakeShopApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WP_Project3_CakeShopApp]
GO
/****** Object:  Table [dbo].[CAKE]    Script Date: 12/26/2020 7:54:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAKE](
	[CakeID] [int] NOT NULL,
	[CakeName] [nvarchar](100) NULL,
	[Description] [nvarchar](1500) NULL,
	[Price] [int] NULL,
	[Image] [nvarchar](50) NULL,
	[CategoryID] [int] NULL,
 CONSTRAINT [PK_CAKE] PRIMARY KEY CLUSTERED 
(
	[CakeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORY]    Script Date: 12/26/2020 7:54:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORY](
	[CatID] [int] NOT NULL,
	[CatName] [nvarchar](100) NULL,
 CONSTRAINT [PK_CATEGORY] PRIMARY KEY CLUSTERED 
(
	[CatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDER_DETAIL]    Script Date: 12/26/2020 7:54:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER_DETAIL](
	[OrderID] [int] NOT NULL,
	[CakeID] [int] NOT NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_ORDER_DETAIL] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[CakeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDERS]    Script Date: 12/26/2020 7:54:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERS](
	[OrderID] [int] NOT NULL,
	[CustomerName] [nvarchar](100) NULL,
	[PhoneNumber] [varchar](50) NULL,
	[HomeAddress] [nvarchar](100) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[PaymentType] [int] NULL,
 CONSTRAINT [PK_ORDERS] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAYMENT]    Script Date: 12/26/2020 7:54:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYMENT](
	[PaymentType] [int] NOT NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[IsShipping] [int] NULL,
 CONSTRAINT [PK_PAYMENT] PRIMARY KEY CLUSTERED 
(
	[PaymentType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CAKE] ([CakeID], [CakeName], [Description], [Price], [Image], [CategoryID]) VALUES (1, N'Angel Pony Cake', N'Tùy Chọn Cốt Bánh:
▪️ Banana Walnut Cake
▪️ Carrot Cake
▪️ Chocolate Cake
▪️ Red Velvet Cake
🎂 Đường kính: 16 cm
❗️ Vui lòng đặt trước 24h để được phục vụ tốt nhất.
✏️ Quý khách vui lòng chú thích thêm lời nhắn để viết lên đế bánh.', 750000, N'main.jpeg', 1)
INSERT [dbo].[CAKE] ([CakeID], [CakeName], [Description], [Price], [Image], [CategoryID]) VALUES (2, N'Baby Dino Cake', N'Tùy Chọn Cốt Bánh:
▪️ Banana Walnut Cake
▪️ Carrot Cake
▪️ Chocolate Cake
▪️ Red Velvet Cake
🎂 Đường kính: 16 cm
❗️ Vui lòng đặt trước 24h để được phục vụ tốt nhất.
✏️ Quý khách vui lòng chú thích thêm lời nhắn để viết lên đế bánh.', 690000, N'main.png', 1)
INSERT [dbo].[CAKE] ([CakeID], [CakeName], [Description], [Price], [Image], [CategoryID]) VALUES (3, N'Baby Shark #1', N'Tùy Chọn Cốt Bánh:
▪️ Banana Walnut Cake
▪️ Carrot Cake
▪️ Chocolate Cake
▪️ Red Velvet Cake
🎂 Đường kính: 16 cm
❗️ Vui lòng đặt trước 24h để được phục vụ tốt nhất.
✏️ Quý khách vui lòng chú thích thêm lời nhắn để viết lên đế bánh.', 680000, N'main.jpg', 1)
GO
INSERT [dbo].[CATEGORY] ([CatID], [CatName]) VALUES (-1, N'Tất cả | All')
INSERT [dbo].[CATEGORY] ([CatID], [CatName]) VALUES (1, N'Bánh kem | Cake')
INSERT [dbo].[CATEGORY] ([CatID], [CatName]) VALUES (2, N'Bánh mì | Bread')
GO
INSERT [dbo].[ORDER_DETAIL] ([OrderID], [CakeID], [Quantity]) VALUES (1, 1, 10)
INSERT [dbo].[ORDER_DETAIL] ([OrderID], [CakeID], [Quantity]) VALUES (1, 4, 10)
INSERT [dbo].[ORDER_DETAIL] ([OrderID], [CakeID], [Quantity]) VALUES (1, 12, 20)
GO
INSERT [dbo].[ORDERS] ([OrderID], [CustomerName], [PhoneNumber], [HomeAddress], [CreatedAt], [PaymentType]) VALUES (1, N'Đỗ Ðông Nguyên', N'84937426460', N'410 Nguyen Dinh Chieu, Ward 4, Dist.3, Ho Chi Minh', CAST(N'2020-01-01T00:00:00.0000000' AS DateTime2), 0)
INSERT [dbo].[ORDERS] ([OrderID], [CustomerName], [PhoneNumber], [HomeAddress], [CreatedAt], [PaymentType]) VALUES (2, N'Huỳnh Hải Quân', N'84918188890', N'164/22 Le Dinh Tham Str., Ho Chi Minh', CAST(N'2020-02-02T00:00:00.0000000' AS DateTime2), 1)
INSERT [dbo].[ORDERS] ([OrderID], [CustomerName], [PhoneNumber], [HomeAddress], [CreatedAt], [PaymentType]) VALUES (3, N'Lưu Kim Phú', N'84918414666', N'5/9 Ap Tay Vinh Phu Thuan An Binh Duong, Ho Chi Minh', CAST(N'2020-03-03T00:00:00.0000000' AS DateTime2), 2)
GO
INSERT [dbo].[PAYMENT] ([PaymentType], [PaymentMethod], [IsShipping]) VALUES (0, N'Mua tại cửa hàng - Tiền mặt', 0)
INSERT [dbo].[PAYMENT] ([PaymentType], [PaymentMethod], [IsShipping]) VALUES (1, N'Mua tại cửa hàng - Thẻ', 0)
INSERT [dbo].[PAYMENT] ([PaymentType], [PaymentMethod], [IsShipping]) VALUES (2, N'Giao tận nơi - tiền mặt', 1)
GO
ALTER TABLE [dbo].[CAKE]  WITH CHECK ADD  CONSTRAINT [FK_CAKE_CATEGORY] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[CATEGORY] ([CatID])
GO
ALTER TABLE [dbo].[CAKE] CHECK CONSTRAINT [FK_CAKE_CATEGORY]
GO
ALTER TABLE [dbo].[ORDER_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_DETAIL_CAKE] FOREIGN KEY([CakeID])
REFERENCES [dbo].[CAKE] ([CakeID])
GO
ALTER TABLE [dbo].[ORDER_DETAIL] CHECK CONSTRAINT [FK_ORDER_DETAIL_CAKE]
GO
ALTER TABLE [dbo].[ORDER_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_DETAIL_ORDERS] FOREIGN KEY([OrderID])
REFERENCES [dbo].[ORDERS] ([OrderID])
GO
ALTER TABLE [dbo].[ORDER_DETAIL] CHECK CONSTRAINT [FK_ORDER_DETAIL_ORDERS]
GO
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_ORDERS_PAYMENT] FOREIGN KEY([PaymentType])
REFERENCES [dbo].[PAYMENT] ([PaymentType])
GO
ALTER TABLE [dbo].[ORDERS] CHECK CONSTRAINT [FK_ORDERS_PAYMENT]
GO
USE [master]
GO
